.wrap {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 270px;
  text-align: center;

  -webkit-app-region: drag;
  .close {
    font-size: 26px;
    line-height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;

    -webkit-app-region: no-drag;
    &:hover {
      color: rgba(249, 249, 249, 0.6);
      background-color: #ed4014;
    }
  }
}
.logo {
  width: auto;
  height: 80px;
}
.version {
  font-size: 14px;
  margin-top: 10px;
}
.btn {
  margin-top: 10px;
  button {
    padding: 4px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 100, 250);

    -webkit-app-region: no-drag;
  }
}
